/* Загальні стилі для сторінки */
html, body {
    height: 100%;  /* Висота сторінки 100% */
    margin: 0;
    display: flex;
    flex-direction: column;  /* Встановлюємо вертикальне вирівнювання елементів */
}

/* Контейнер для контенту */
.container {
    flex-grow: 1;  /* Забезпечуємо, щоб контейнер займає всю висоту доступного простору */
    padding-top: 20px;  /* Додаткові відступи для контенту */
}

/* Футер */
footer {
    background-color: #343a40;
    color: white;
    padding: 5px;  /* Встановлюємо невеликі відступи */
    text-align: center;
    width: 100%;
    font-size: 0.8rem;  /* Зменшуємо шрифт для компактності */
    margin-top: auto;  /* Забезпечуємо, щоб футер залишався внизу */
}

.card-img-top {
    width: 100%;       /* картинка займає всю ширину картки */
    height: 200px;     /* фіксована висота для всіх карток */
    object-fit: cover; /* обрізає та масштабує картинку, щоб заповнити блок */
}

.user-game-cover {
    width: 120px;       /* стандартна ширина */
    height: 80px;       /* стандартна висота */
    object-fit: cover;   /* обрізає зайве, щоб не спотворювало */
    border-radius: 5px;  /* опційно, закруглені кути */
}